@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: Dogicapixel;
  src: url("/fonts/dogicapixel.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Dogicapixel-bold;
  src: url("/fonts/dogicabold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-family: Dogicapixel, sans-serif; */
  font-family: "Plus Jakarta Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #36488f;
}

body {
  width: 100%;
  height: 100%;
  color: #36488f;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body.loaded #preloader {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  /* max-width: 1440px; */
}

header {
  width: 85%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 2rem 0rem;
  z-index: 99;
  text-transform: uppercase;
}

.hamburger {
  width: 2.5rem;
  rotate: 90deg;
}

.hero {
  position: fixed;
  top: 14vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  z-index: 2;
  width: 85%;
  /* height: 65vh; */
  /* padding: 0 4rem; */
}

.hero-spacer {
  height: 90vh;
}

.hero-logo {
  width: 100%;
}

.hero-info-wrap {
  margin-top: 1.5rem;
}

.hero-info {
  width: 50vw;
  min-height: 24vh;
  padding: 1rem 1.25rem;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.25;
  border-radius: 8rem;
  display: flex;
  align-items: center;
  background-color: rgba(230, 230, 246, 0.4);
  backdrop-filter: blur(12px);
  border: 28px solid;
  border-image-source: url("/border_img__blue.svg");
  border-image-slice: 28;
  perspective: 1000px;
  cursor: pointer;
}

.front h2 {
  font-size: 3rem;
  line-height: 1.2;
  width: 80%;
}

.hero-content {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  user-select: none;
}

.hero-content .front,
.hero-content .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content .back {
  transform: rotateX(180deg);
}

.hero-info.flip .hero-content {
  transform: rotateX(180deg);
}

.dud {
  color: #36488f59;
}

.hero-info-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-wrap {
  width: 10rem;
  margin-right: 4rem;
}

.arrow {
  width: 100%;
}

.hero-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 75vh;
  background-image: url("/cloud.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .hero-bg::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20%;
  width: 100%;
  height: 25px;
  background: inherit;
  filter: blur(12px);
  pointer-events: none;
} */

.assets {
  display: none;
}

.canvas-container {
  position: relative;
  width: 100%;
  z-index: 1;
  /* overflow: hidden; */
  scale: 1.2;
  will-change: scale;
  /* height: 80vh; */
}

.canvas-img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 6.5vw;
  z-index: 1;
  cursor: pointer;
}

.img-label-wrap {
  position: absolute;
  top: -80%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: Dogicapixel-bold, sans-serif;
  font-size: 0.6rem;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
  pointer-events: none;
}

.canvas-img-wrap img {
  width: 100%;
  transition: filter 0.3s ease;
}

.canvas-img-wrap img:hover {
  filter: drop-shadow(0 0 6px rgba(255, 255, 255))
    drop-shadow(0 0 6px rgba(255, 255, 255, 0.6))
    drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
}

.canvas-img-wrap:hover .img-label-wrap {
  opacity: 1;
}

.canvas-img-wrap.squire {
  top: 46%;
  left: 32%;
}

.canvas-img-wrap.mage {
  top: 53%;
  left: 37%;
  z-index: 2;
}

.canvas-img-wrap.back {
  width: 8vw;
  top: 52%;
  left: 46%;
  z-index: 2;
}

.canvas-img-wrap.mist {
  top: 53%;
  left: 55%;
  z-index: 2;
}

.canvas-img-wrap.oracle {
  top: 46%;
  left: 62%;
}

.canvas-img-wrap.female {
  width: 6vw;
  top: 42%;
  left: 56%;
}

.canvas-img-wrap.knight {
  width: 6vw;
  top: 40%;
  left: 47%;
}

.canvas-img-wrap.archer {
  width: 6vw;
  top: 41%;
  left: 39%;
}

.canvas-img-wrap.stone {
  width: 24vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  pointer-events: none;
}

.bottom-wrap {
  background-color: #000;
}

#canvas {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pillars-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.pillar {
  width: 16.5vw;
  height: 100%;
  position: absolute;
  will-change: transform;
  z-index: 1;
}

.pillar.right {
  right: 0;
  transform: translateX(100%);
}

.pillar.left {
  left: 0%;
  transform: translateX(-100%);
}

.pillar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-wrap {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 110%);
  padding: 1rem 2rem;
  width: 88%;
  font-family: Dogicapixel, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 75vh;
  background-color: #f0f0f0;
  border-radius: 7rem;
  border: 30px solid transparent;
  border-image-source: url("/container_border.png");
  border-image-slice: 100;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
  z-index: 2;
  will-change: transform;
}

.orland-wrap {
  position: absolute;
  top: 0%;
  left: -0.5%;
  width: 40vw;
  height: 100%;
  z-index: inherit;
  transform: translateY(120%);
  opacity: 0;
  will-change: transform;
}

.orland-wrap img {
  width: 100%;
  object-fit: cover;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #e6e6f6;
  border-radius: 4rem;
  border: 20px solid;
  border-image-source: url("/border_img__light.svg");
  border-image-slice: 32;
  position: relative;
}

.content.form-wrap {
  display: none;
  opacity: 0;
}

.content-info h2 {
  font-family: Dogicapixel-bold, sans-serif;
  font-size: 1.5rem;
  letter-spacing: -0.1em;
  color: #56567c;
  margin-bottom: 0.5rem;
}

.content-info p {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #3c3c3c;
  max-width: 60vw;
  text-wrap: balance;
}

.submit-btn {
  position: absolute;
  color: #56567c;
  padding: 1rem;
  font-family: Dogicapixel-bold, sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  right: 0;
  bottom: -40%;
  display: none;
  opacity: 0;
}

.proceed-btn {
  margin-top: 1rem;
  padding: 0.5rem 4rem;
  font-family: Dogicapixel-bold, sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.25rem;
  text-transform: uppercase;
  background-color: #e6e6f6;
  color: #56567c;
  border-radius: 4rem;
  border: 20px solid;
  border-image-source: url("/border_img__light.svg");
  border-image-slice: 30;
  cursor: pointer;
}

.form-container p {
  font-size: 1.25rem;
  letter-spacing: -0.1em;
  line-height: 1.5;
  color: #474747;
}

input {
  border: none;
  border-bottom: 1px solid #b0b0b0;
  font-family: inherit;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: transparent;
  max-width: 14rem;
  outline: none;
}

input[type="email"],
input[type="url"] {
  max-width: 18rem;
}

.thanks-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.thanks-bottom-wrap {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 15vh;
  overflow: hidden;
}

.thanks-bottom-wrap img {
  width: 100%;
  object-fit: cover;
}

.thanks-img-wrap {
  position: absolute;
  top: 10%;
  left: 0;
  width: 20vw;
  z-index: 2;
}

.thanks-content-wrap {
  position: absolute;
  width: 60%;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
}

.thanks-content {
  padding: 2rem;
  font-family: Dogicapixel, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e6e6f6;
  border-radius: 7rem;
  border: 30px solid transparent;
  border-image-source: url("/border_img__light.svg");
  border-image-slice: 32;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .canvas-img-wrap {
    width: 13vw;
  }

  .canvas-img-wrap.squire {
    left: 15%;
  }

  .canvas-img-wrap.oracle {
    left: 73%;
  }

  .canvas-img-wrap.mage {
    top: 53%;
    left: 30%;
  }

  .canvas-img-wrap.female {
    width: 12vw;
    top: 37%;
    left: 60%;
  }

  .canvas-img-wrap.knight {
    width: 12vw;
    top: 36%;
    left: 45%;
  }

  .canvas-img-wrap.archer {
    width: 12vw;
    top: 37%;
    left: 30%;
  }
  .canvas-img-wrap.back {
    width: 16vw;
    top: 53%;
    left: 43%;
  }

  .canvas-img-wrap.mist {
    top: 53%;
    left: 60%;
    z-index: 2;
  }
  .canvas-img-wrap.stone {
    width: 48vw;
  }

  .thanks-content-wrap {
    top: 60%;
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  header {
    padding: 3rem 0rem;
    font-size: 1.5rem;
  }
  .hero {
    top: 20vh;
  }

  .front h2 {
    font-size: 2.5rem;
    width: 100%;
  }

  .arrow-wrap {
    margin-right: 1rem;
  }
  .pillar img {
    object-fit: cover;
  }
  .img-label-wrap {
    top: -100%;
    gap: 0.75rem;
    font-size: 1rem;
  }
  .orland-wrap {
    top: 10%;
  }

  .canvas-img-wrap.archer {
    top: 33%;
  }

  .canvas-img-wrap.female {
    top: 33%;
  }

  .canvas-img-wrap.knight {
    top: 32%;
  }

  .canvas-img-wrap.mage {
    top: 42%;
  }

  .canvas-img-wrap.mist {
    top: 42%;
  }

  .canvas-img-wrap.back {
    top: 42%;
  }

  .canvas-img-wrap.stone {
    top: 40%;
  }

  .canvas-img-wrap.squire {
    top: 37%;
  }

  .canvas-img-wrap.oracle {
    top: 37%;
  }

  .thanks-img-wrap {
    width: 20rem;
    top: 50%;
  }

  .thanks-img-wrap img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 2rem 0rem;
    font-size: 1.25rem;
  }
  .hero-info {
    width: 100%;
    font-size: 0.85rem;
    /* padding: 0.5rem 1rem; */
    border-radius: 4rem;
  }

  .front h2 {
    font-size: 2rem;
    width: 100%;
  }

  .arrow-wrap {
    display: none;
  }

  .img-label-wrap {
    font-size: 0.7rem;
  }

  .canvas-img-wrap.archer {
    top: 28%;
  }

  .canvas-img-wrap.female {
    top: 28%;
  }

  .canvas-img-wrap.knight {
    top: 27%;
  }

  .canvas-img-wrap.mage {
    top: 34%;
  }

  .canvas-img-wrap.mist {
    top: 34%;
  }

  .canvas-img-wrap.back {
    top: 34%;
  }

  .canvas-img-wrap.stone {
    top: 33%;
  }

  .canvas-img-wrap.squire {
    top: 30%;
  }

  .canvas-img-wrap.oracle {
    top: 30%;
  }

  .orland-wrap {
    width: 65vw;
    left: -20%;
  }

  .content-wrap {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5rem;
    border: 20px solid;
    border-image-source: url("/container_border.png");
    border-image-slice: 80;
  }

  .content {
    width: 70vw;
    position: absolute;
    top: -20%;
    left: 20%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.25rem;
    border: 8px solid;
    border-radius: 1.5rem;
    border-image-source: url("/border_img__light.svg");
    border-image-slice: 24;
  }

  .content.form-wrap {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    opacity: 1;
    border: none;
    border-radius: 0;
    background-color: transparent;
    text-align: left;
    overflow-y: scroll;
    padding-bottom: 8rem;
  }

  .form-container p {
    font-size: 0.7rem;
  }

  .form-container input {
    width: 100%;
    font-size: 0.75rem;
    padding: 0.75rem;
    padding-left: 0;
    margin-bottom: 0.75rem;
    max-width: none;
  }

  .content-info {
    width: 100%;
  }

  .content-info h2 {
    font-size: 0.6rem;
  }

  .content-info p {
    width: 100%;
    font-size: 0.8rem;
    max-width: none;
  }

  .proceed-btn {
    display: none;
  }

  .pillar {
    display: none;
  }

  .hero-spacer {
    height: 100vh;
  }

  .submit-btn {
    display: block;
    opacity: 1;
    position: relative;
    margin-left: auto;
  }

  .thanks-img-wrap {
    width: 16rem;
    left: -10%;
  }
}
